/* Content */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
    /* Main Container */
.container{
    width: 100%;
    height: 200vh;
    background-color:#070707;
    
    cursor: url("images/cursors/default.png"), default;
}
    /* Drawings */
.logo{
    display: auto;
    margin: 2% 2% 2% 2%;
    width: 2.5%;
    height: 2.5%;
}
.mainDecor{
    display: block;
    margin: auto;
    width: 60%;
    height: 60%;
    animation: fadeIn 0.5s;
}

    /* Buttons */
.button{
    display: block;
    margin: auto;
    margin-top: -12.5%;
    background-image:linear-gradient(#7F657A, #7F3CCB);
    color:rgba(255, 255, 255, 0.5);
    font-size: 16px; font-weight:400; 
    width: 17.5vh; height: 17.5vh;
    border-radius: 50%; border: none;
    box-shadow: 0 1vh 2vh rgba(255, 255, 255, 0.5);
}
.button:hover{
    cursor: url("images/cursors/pointer.png"), pointer;
    animation: hoverButton 1s infinite;
}
.button:active{
    cursor: url("images/cursors/pointer.png"), pointer;
    animation: pressButton 1s;
}

/* Animations */
@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: rotateX(-45deg);
        transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform: translateY(0%);
    }
}

@keyframes hoverButton{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.96);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes pressButton{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.80);
    }
}